<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="983346d6-7cc1-424d-b0bb-97e7d7da4621" name="alexander" alias="alexander" type="Starter">
  <environment type="live" name="Live" id="c88946d1-f50d-43e5-85fc-8c72fc30ba54">https://alexander.s1.umbraco.io</environment>
</environments>